<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anúncios</title>
</head>
<body>
    <h1>Anúncios</h1>
    <ul>
        {% for anuncio in anuncios %}
            <li>
                <strong>{{ anuncio.titulo }}</strong> - {{ anuncio.descricao }} - R$ {{ anuncio.preco }}
            {% if anuncio.foto %}
                <img src="{{ url_for('static', filename=anuncio.foto) }}" alt="Foto do Anúncio" style="max-width: 200px; ">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="/criar_anuncio"><button>Criar Anuncios</button></a>
</body>
</html>
